.DS_Store
node_modules

# 先不忽略该文件，不然打包到github pages 会显示不出来
/dist


# local env files
.env.local
.env.*.local


# Log files
npm-debug.debug*
yarn-debug.debug*
yarn-error.debug*
pnpm-debug.debug*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
